@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalnia:wght@100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p, h3{
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h2, h1, h4{
    font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* section button*/

.btn{
background-color: #262424;
color: white;
padding: 5px 15px;
display: inline-block;
}

/*le header*/

.sectionhero {
    background-image: url(asset/image\ 8.png);

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    height: 100vh;
}

.header{
    list-style-type: none;
}

.backgroundcolorheader{
    background-color: #655649;
}
.spacebetween{
    justify-content: space-between;
}

.marginright{
    margin-right: 40px;
}

.marginleft{
    margin-left: 50px;
}

/*section flex*/

.flex {
    display: flex;
    flex-wrap: wrap;

}

/* CLASSE DE DIMENSIONS*/

.w-100{
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-48 {
    width: 48%;
}

.w-33 {
    width: 33%;
}

.w-30{
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-20{
    width: 20%;
}

.w-15{
    width: 15%;
}

/*photo de prestations*/

.marginbottom{
    margin-bottom: 30px;
}

.margintop{
    margin-top: 30px;
}

/*valeurs ajoutees*/

.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.backgroundcolor{
    background-color: #F2EAE4;
    
}

/*temoignage clients*/





.justifycenter{
    justify-content: center;
}