@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalnia:wght@100..700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
    color:white
}

p, h3{
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h2, h1, h4{
    font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.color{
    color: white;
}

/* section button*/

.btn{
background-color: #262424;
color: white;
padding: 5px 15px;
display: inline-block;
height: 30px;
}

/*le header*/

.sectionhero {
    background-image: url(asset/image\ 8.png);

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    height: 100vh;
}

.header{
    list-style-type: none;
}

.backgroundcolorheader{
    background-color: #655649;
}
.spacebetween{
    justify-content: space-between;
}


/*section flex*/

.flex {
    display: flex;
    flex-wrap: wrap;

}

/* CLASSE DE DIMENSIONS*/

.w-100{
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-48 {
    width: 48%;
}

.w-33 {
    width: 33%;
}

.w-30{
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-20{
    width: 20%;
}

.w-15{
    width: 15%;
}

/*les margins*/

.marginbottom{
    margin-bottom: 10px;
}

.margintop{
    margin-top: 30px;
}

.marginright{
    margin-right: 40px;
}

.marginleft{
    margin-left: 30px;
}

/*les background*/


.backgroundcolorclients{
    background-color: #FFFFFF;
}

.backgroundcolor{
    background-color: #F2EAE4;
    
}

/*gap*/

.gap{
    gap: 100px;
}

/*padding*/

.padding{
    padding: 40px;
}

/*les center*/

.aligncenter{
    align-items: center;
}

.justifycenter{
    justify-content: center;
}

.textcenter{
    text-align: center;
}
/*autre*/

.scaled{
    scale: 2;
}

.justifyend{
    justify-content:end;
}

.block{
    display: block;
    height: 30px;
    background-color: #F2EAE4;
}

.gapphoto{
    gap: 20px;
}